In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
water=pd.read_csv("water_potability.csv")

In [8]:
water

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [9]:
water.mean()

ph                     7.080795
Hardness             196.369496
Solids             22014.092526
Chloramines            7.122277
Sulfate              333.775777
Conductivity         426.205111
Organic_carbon        14.284970
Trihalomethanes       66.396293
Turbidity              3.966786
Potability             0.390110
dtype: float64

In [10]:
water.median()

ph                     7.036752
Hardness             196.967627
Solids             20927.833607
Chloramines            7.130299
Sulfate              333.073546
Conductivity         421.884968
Organic_carbon        14.218338
Trihalomethanes       66.622485
Turbidity              3.955028
Potability             0.000000
dtype: float64

In [11]:
water.mode()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,0.000000,47.432000,320.942611,0.352000,129.000000,181.483754,2.200000,0.738000,1.450000,0.0
1,0.227499,73.492234,728.750830,0.530351,180.206746,201.619737,4.371899,8.175876,1.492207,NaN
2,0.975578,77.459586,1198.943699,1.390871,182.397370,210.319182,4.466772,8.577013,1.496101,NaN
3,0.989912,81.710895,1351.906979,1.683993,187.170714,217.358330,4.473092,14.343161,1.641515,NaN
4,1.431782,94.091307,1372.091043,1.920271,187.424131,232.613624,4.861631,15.684877,1.659799,NaN
...,...,...,...,...,...,...,...,...,...,...
3271,NaN,307.706024,56320.586979,12.626900,NaN,672.556999,23.917601,NaN,6.357439,NaN
3272,NaN,308.253833,56351.396304,12.653362,NaN,674.443476,23.952450,NaN,6.389161,NaN
3273,NaN,311.383956,56488.672413,12.912187,NaN,695.369528,24.755392,NaN,6.494249,NaN
3274,NaN,317.338124,56867.859236,13.043806,NaN,708.226364,27.006707,NaN,6.494749,NaN
3275,NaN,323.124000,61227.196008,13.127000,NaN,753.342620,28.300000,NaN,6.739000,NaN

In [12]:
water["ph"].quantile(0.75)-water["ph"].quantile(0.25)

1.9689742089266105

In [13]:
water["ph"].var()

2.5418547277358967

In [14]:
water["ph"].std()

1.5943195187088117

In [15]:
water["ph"].skew()

0.025630447632210205

In [16]:
water["ph"].kurt()

0.7203155798283807